In [136]:
import pandas as pd
pass_data = pd.read_csv('adult.data', header = None, names=["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "50K"], skipinitialspace=True)
pass_data.sex.count()

32561

In [57]:
import pandas as pd
pass_data = pd.read_csv('adult.data', header = None, names=["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "50K"], skipinitialspace=True)
pass_data[(pass_data.sex == 'Male')].age.mean()

39.43354749885268

In [71]:
import pandas as pd
pass_data = pd.read_csv('adult.data', header = None, names=["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "50K"], skipinitialspace=True)
pass_data['native-country'].value_counts().loc['United-States']/len(pass_data)

0.895857006848684

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
pass_data = pd.read_csv('adult.data', header = None, names=["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "50K"], skipinitialspace=True)
pass_data[['education', 'education-num']]
pass_data.plot.bar(x = 'education', y = 'education-num')

In [4]:
import pandas as pd
pass_data = pd.read_csv('adult.data', header = None, names=["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "50K"], skipinitialspace=True)
pass_data[(pass_data['marital-status'] == 'Divorced')].fnlwgt.mean()

185802.79045689848

In [5]:
pass_data[(pass_data['marital-status'] == 'Divorced')].fnlwgt.std()

105646.78945933603

In [23]:
import pandas as pd
pass_data = pd.read_csv('adult.data', header = None, names=["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "50K"], skipinitialspace=True)
pass_data[(pass_data['50K'] == '>50K') & (pass_data['education-num'] >= 10)].age.count()

5922

In [24]:
pass_data[(pass_data['50K'] == '>50K') & (pass_data['education-num'] <= 10)].age.count()

3306